# MacOS .DS_Store
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# DynamoDB Local files
.dynamodb/

# Quasar core related directories
.quasar
/frontend/dist

# Cordova related directories and files
/frontend/src-cordova/node_modules
/frontend/src-cordova/platforms
/frontend/src-cordova/plugins
/frontend/src-cordova/www

# Capacitor related directories and files
/frontend/src-capacitor/www
/frontend/src-capacitor/node_modules

# BEX related directories and files
/frontend/src-bex/www
/frontend/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Secrets
*.pk
*.crt
*.rdb
backend/jobs/spark-recommend-articles.yaml
